.alert-info>a{
    background: #ccffff;
    border: 1px solid #cccccc;
    justify-content: center;
    padding: 5px 0;
    text-decoration: none;
    color: black;
}



nav {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    font-size: 1em;
}
h1 {
    text-align: center;
}
.main>h2 {
    text-align: left;
}
a {
    display: flex;
    margin: 10px;
}

ul li {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    background: lightgrey;
    width: 100%;
}
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-img>img {
    width: 100%;
}

@media screen and (min-width: 768px) {
.hidden-on-desktop{
    display: none;
}
    h1{
        float: left;
        padding-left: 10px;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        /*align-content: baseline;*/
        align-content: space-around;

    }
    ul li{

        padding-top: 20px;
        background: none;
        width: 50px;

    }
    .header-img{
        padding: 0 10px;
    }
    .main{
        float: left;
        width: 50%;
    }
    footer{
    position: fixed;
        bottom: 0;
        width: 100%;
    }
    #social-media-links{
        float: right;

    }
#social-media-links>a{
    color: black;
}
}
