nav {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    font-size: 2em;
}
h1 {
    text-align: center;
}
.main>h2 {
    text-align: left;
}
a {
    display: flex;
    margin: 10px;
}

ul li {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    background: lightgrey;
    width: 100%;
}
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-img>img {
    width: 100%;
}

@media screen and (min-width: 768px) {

}